/*
 * Author: ArmandoSDS
 * Version: 1.1.0
 * Description: A Theme appearance for TeamSpeak by AmigoZ.
 */

/* ==========================================================================
   1. Core Variables (--teamspeak-*)
   ========================================================================== */
@import url(Amigoz-Base.css);
:root,
::after,
::before {
    /* --- Base Color Palette  --- */

    /* Accent Color */
    --teamspeak-blue: #007bff;
    --teamspeak-blue-hover: #0056b3;
    --teamspeak-blue-transparent: rgba(0, 123, 255, 0.3);
    --teamspeak-blue-transparent-light: rgba(0, 123, 255, 0.1);
}
  /* ==========================================================================
   End of DOA Theme CSS
   ========================================================================== */
